html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  body {
    background-color: lightblue;
  }
  
  .header {
    z-index: 4;
    color:black;
    background-color: lightblue;
    border: solid black;
    box-shadow: 0 0 20px black, 0 0 15px black, 0 0 0.35px black;
  }
  
  .header a {
    color:black;
    transition: ease-in-out color .40s;
  }

  .textarea{
      color: black;
      background-color:lightblue;
      border:solid black;
  }
  
  
  